*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: pink;
    text-align: center;
    margin: auto;
}

.container{
    background-color: #fff;
    width: 500px;
    min-height: 300px;
    border-radius: 25px;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
}

.contain{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(0, -50%);
}

h1{
    font-weight: 400;
}





